@import url('https://fonts.cdnfonts.com/css/a-space-demo');

body {
  background-color: #1D2733;
  color: white;
}

.home {
  max-width: 500px;
}

.shorts-button {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    width: 200px;
  }
}

.button {
  background-color:#08c9;
  color: #fff;
  border:none; 
  border-radius:30px; 
  padding:15px;
  margin:0 auto;
  margin-top:35px;
  width:200px;
  cursor: pointer;
}

.network {
  color: blue;
  font-size:12px;
  text-align: center;
  padding: 5px;
}
