@import url('https://fonts.cdnfonts.com/css/a-space-demo');

.shorts {

    background-color: black;


    video {
        width: 100%;
        height: 100%;
        background-color: black;
     }

     .video-content {
        position: fixed;
        top:0;
     }

     .top-buttons {

        position: fixed;
        top:0;
        left:0;
        width:100%;
        height: 50px;
        padding:10px;
        padding-top: 0;
        z-index: 1000;

        display: flex;
        justify-content: space-between;

        div {
            text-align: center;
            color:white;
            cursor: pointer;
        }

     }

     .left-buttons {
        position: fixed;
        bottom: 65px;
        display: flex;
        flex-direction: column;
        right:0;
        padding:10px;

        div {
            margin-bottom:20px;
        }
     }

     .main-button {

        position: fixed;
        bottom:5px;
        width:100%;
        height: 95px;
        padding:0;

        .title {
            width:100%;
            display: flex;
            justify-content:center;
            align-items: center; 
            font-size: 14px;
            padding:5px;
            min-height: 45px;
            cursor: pointer;

        }
        .title p {
            margin: 0;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            padding-left:10px;
            padding-right:10px;
        }

        .info {
            display: flex;
            justify-content:space-between;
            align-items: center;

            .score {
               text-align: left;
               padding-left:10px;
               width:120px;

               cursor: pointer;

               .score-plus {
                    font-size: 14px;
                    color: red;
                    font-weight: bold;
               }

               .score-points {
                    font-size: 12px;
                }
            }

            .go {
                font-size: 25px;
                text-align: center;
            }

            .time {
                text-align: right;
                padding-right:10px;
                width:120px;

                .time-num {
                    font-size: 14px;
                    font-weight: bold;
               }

               .time-rank {
                   font-size: 12px;
                }
            }
        }    

     }

}