body {
  background-color: #1D2733;
  color: white;
  padding: 0;
  margin: 0;
}

.gold {
  color: #ffd700;
}
.silver {
  color: #c7d1da;
}
.bronze {
  color: #e07f1f;
}
.copper {
  color: #CA5733;
}

.iron {
  color: lightgray;
}