
.top-buttons {

    padding:15px;


    div {
        text-align: left;
        color:white;
        cursor: pointer;
    }

 }

 .logo {
    font-family: 'A-Space Light Demo', sans-serif;
    font-size: 22px;
    text-align: center;
    padding:5px;
    color:white;
  }
  
  .logo-text {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    padding:2px;
    color:white;
  }